<div class="back">
  <div class="container signin">
    <div class="row justify-content-center">
      <div class="col-5 align-self-center my-5">
        <form class="p-4 bgGreyLight_1" #loginForm="ngForm">
          <h3 class="text-center title_form">Sign In</h3>
          <div class="mb-3 vertical_align_center">
            <!-- <label for="title" class="form-label">Email Address</label> -->
            <input
              type="email"
              class="input__form"
              id="title"
              aria-describedby="titleHelp"
              name="movieName"
              #loginEmail="ngModel"
              [(ngModel)]="email"
              required
              pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
              placeholder="Email Address"
            />
          </div>
          <div
            id="titleHelp"
            class="form-text text-danger error_form alert alert-danger"
            role="alert"
            *ngIf="loginEmail.touched && loginEmail.invalid"
          >
            <span class="text-danger" *ngIf="loginEmail?.errors?.['required']">
              This field is required
            </span>
            <span class="text-danger" *ngIf="loginEmail?.errors?.['pattern']">
              please enter email as "test@gmail.com"
            </span>
          </div>
          <div class="mb-3 vertical_align_center">
            <!-- <label for="Password" class="form-label">Password</label> -->
            <input
              type="password"
              class="input__form"
              id="overview"
              aria-describedby="overviewHelp"
              rows="5"
              name="Password"
              [(ngModel)]="password"
              #Password="ngModel"
              required
              minlength="8"
              placeholder="Password"
            />
          </div>
          <div
            class="form-text text-danger error_form alert alert-danger"
            role="alert"
            *ngIf="Password.touched && Password.invalid"
          >
            <span class="text-danger" *ngIf="Password.errors?.['required']"
              >This field is required</span
            >
            <span class="text-danger" *ngIf="Password.errors?.['minlength']"
              >min length is 10</span
            >
          </div>
          <div class="text-center">
            <button
              type="submit"
              class="btn__gen btn__primary btn_actions_form btn_submit my-3"
              (click)="submitLoginForm()"
              [disabled]="loginForm.invalid"
            >
              Sign In
            </button>
          </div>
          <p class="text-center mt-3 mb-3">
            Don't have account ? <a routerLink="/signup">Register</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
