.back {
  margin-top: 85px;
}

.back input {
  color: rgb(83, 83, 83);
}

.back .error_form {
  margin: 0;
  padding: 5px;
}

.signin {
  padding: 20px;
}


.signin .input_container label {
  width: 225px;
}
/* nav{
  box-shadow: 5px 5px 10px rgb(119, 109, 109), -5px -5px 10px rgb(163, 154, 154);
} */
.back {
  background-color: #eee;
  height: 100%;
  background-image: url('https://images.pexels.com/photos/2177482/pexels-photo-2177482.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  position: relative;
  z-index: 1;
}

.back::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.507);
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
}

.signin .bgGreyLight_1 {
  background-color: #b4b4b4 !important;
  height: 550px;
  width: 400px;
  margin: auto;
}

.signin input::placeholder {
  color: rgb(107, 107, 107);
}

.signin .title_form {
  margin-top: 40px;
  color: rgb(0 0 0 / 55%);
}
