ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.footer-shop {
    width: 100%;
    height: 250px;
    margin-bottom: 0;
 
    box-shadow: 5px 5px 10px rgb(119, 109, 109), -5px -5px 10px rgb(163, 154, 154);
    color: #E4EBF6;
    margin-top: 100px;

}
h2{
    margin-left: 25px;
}
.footer-shop  .footer-shop-contant .single-footer p{
    /* color: #868c98; */
    color: #4A4A4B;
    font-size: 16px;
    line-height: 1.8;
    font-family: "Roboto",sans-serif;
   
}

.footer-shop  .footer-shop-contant .single-footer h4{
    color: #4A4A4B;
    font-size: 20px;
    margin:0 0 30px 30px;
    text-transform: capitalize;
    font-family: "Roboto",sans-serif;
    margin-top: 5px;
}

.footer-shop .container .footer-shop-contant .single-footer li{
  
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.footer-shop .footer-shop-contant .single-footer li i{
    margin-right: 10px;
    /* color: #3777FC; */
    color:#1a065f;
}


.footer-shop  .footer-shop-contant .single-footer li a{
    color: #4A4A4B;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    -webkit-transition: .4s;
}
.footer-shop .footer-shop-contant .single-footer a:hover  {
    padding-left: 8px;
    color:#1a065f;
    cursor: pointer;
  
}
/* ===========.footer-bottom code=========== */
.footer-bottom {

    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 15px;
   

}
.footer-bottom p{
    color: #4A4A4B;
    font-size: 16px;
    line-height: 1.8;
    font-family: "Roboto",sans-serif;
}
.footer-bottom p i{
    color:#1a065f;
 
}
.footer-bottom p a{
    /* color: #E4EBF6; */
    color:#1a065f;
}
span a{
 
    font-weight: bold;
}
.footer-bottom .social{
    margin-bottom: 1rem;
    text-align: end;
}
.footer-bottom .social a i{
    color:#1a065f;
    font-size: 14px;
    padding: 0 10px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.footer-bottom .social a i:hover{
    color: #777;
    transform: rotateY( 180deg);
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -ms-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
}

h2{
    color:#1a065f
}












