<section class="footer-shop">
    <div class="container ">
    
      <div class="footer-shop-contant ">
        <div class="single-footer col1" >
            <h2 class="text-danger "> BookStore</h2>
            <p class="p-4">Asorem ipsum adipolor sdit amet, consectetur adipisicing elitcf sed do eiusmod tem.</p>
          </div>
   
        <div class="single-footer ">
          <h4>Our Emails</h4>
          <ul class="list">
            <li><a> <i class="fa-regular fa-envelope"></i>ahmed.abdelmawla321@gmail.com</a></li>
            <li><a> <i class="fa-regular fa-envelope"></i>eng.shimaakelan@gmail.com</a></li>
            <li><a> <i class="fa-regular fa-envelope"></i>khaledellessy310@gmail.com</a></li>
          </ul>
        </div>
        <div class="single-footer ">
            <h4>Our Phones</h4>
            <ul class="list">
              <li><a> <i class="fa-solid fa-phone"></i> +20 106 081 6112</a></li>
              <li><a> <i class="fa-solid fa-phone"></i> +20 115 250 2629</a></li>
              <li><a> <i class="fa-solid fa-phone"></i>+20 112 461 2043</a></li>
            </ul>
          </div>
      </div>
      <div class="footer-bottom">
        <p>This template is made with <i class="fas fa-heart"></i> by <span> <a href="#">A S K</a></span> </p>
        <div class="social">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-behance"></i></a>
          <a href="#"><i class="fas fa-globe"></i></a>
        </div>
      </div>
    </div>
  
  </section>
  

