<section class="footer-shop">
  
    
      <div class="footer-shop-contant d-flex p-4 ">
        <div class=" col-4 single-footer col1" >
            <h2 > BookStore</h2>
            <p class="p-4">Asorem ipsum adipolor sdit amet, consectetur adipisicing elitcf sed do eiusmod tem.</p>
          </div>
   
        <div class=" col-4 single-footer ">
          <h4>Our Emails</h4>
          <ul class="list">
            <li><i class="fa-solid fa-envelope"></i> <a> ahmed.abdelmawla321@gmail.com</a></li>
            <li> <i class="fa-solid fa-envelope"></i> <a> eng.shimaakelan@gmail.com</a></li>
            <li> <i class="fa-solid fa-envelope"></i> <a> khaledellessy310@gmail.com</a></li>
          </ul>
        </div>
        <div class=" col-4 single-footer ">
            <h4>Our Phones</h4>
            <ul class="list">
              <li><i class="fa-solid fa-phone"></i> <a> +20 106 081 6112</a></li>
              <li><i class="fa-solid fa-phone"></i><a>  +20 115 250 2629</a></li>
              <li><i class="fa-solid fa-phone"></i><a> +20 112 461 2043</a></li>
            </ul>
          </div>
      </div>
      <div class="footer-bottom">
        <p>This template is made with <i class="fas fa-heart"></i> by <span> <a href="#">A S K</a></span> </p>
        <div class="social">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-behance"></i></a>
          <a href="#"><i class="fas fa-globe"></i></a>
        </div>
      </div>

  
  </section>
  

