<div class="boxs">
  <div class="data">
    <img src="http://localhost:8080/{{card.avatar.replace('assets\\', '')}}" alt="" />
    <div class="social">
      <a href="#">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="#">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </div>
  <div class="info">
    <h3>{{card.name}}</h3>

  </div>
</div>
