.team {
  padding-top: 100px;
  position: relative;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.team .box {
  position: relative;
}
.team .box::before,
.team .box::after {
  content: '';
  background-color: #f3f3f3;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 10px;
  transition: 0.4s;
}
.team .box::before {
  /* width: calc(100% - 60px); */
  width: 180px !important;
  height: 250px !important;
  z-index: -2;
}
.team .box::after {
  z-index: -1;
  background-color: #e4e4e4;
  width: 0;
}
.team .box:hover::after {
  width: calc(100% - 30px);
}

.my-pagination::ng-deep .ngx-pagination .current {
  background: rgb(109, 93, 252);
  border-radius: 50%;
}
