.col{
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;


 }

  .my-pagination::ng-deep .ngx-pagination .current {
    background: red;
   };
