/* .col{
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
 } */
 .articles {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  background-color: #eee;
}
.articles .containers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(228px, 1fr));
  gap: 40px;
}
  .my-pagination::ng-deep .ngx-pagination .current {
    background: #3777FC;
    
    border-radius: 50%;
   };
