<div class="container">
  <div class="row">
    <div class="cards" *ngFor="let Book of BooksOfCategory">
      <div class="face face1">
        <div class="content">
          <img
            src="http://localhost:8080/{{
              Book.avatar.replace('assets\\', '')
            }}"
            alt=""
          />
          <h5>{{ Book.title | uppercase }}</h5>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>{{ Book.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cards">
  <div class="box-img">
    <img
      src="http://localhost:8080/{{ Book.avatar.replace('assets\\', '') }}"
      alt=""
    />
  </div>

  <div class="content">
    <h3 class="title_row">{{ Book.title | uppercase }}</h3>
  </div>
  <div class="info">
    <a
      (click)="redirectDetails(Book._id)"
      href="/book-details/{{ bookItem._id }}"
      >Read More</a
    >
    <i class="fas fa-long-arrow-alt-right"></i>
  </div>
</div>
