<nav class="navbar navbar-expand-lg bg-light shadow">
  <div class="container">
    <a class="navbar-brand" href="#"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto  mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active title_page" aria-current="page" routerLink="/"
            >BookStore</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/all-books">Books</a>
        </li>
        <li class="nav-item category_menu" (click)="displayMenu()">
          <a class="nav-link category_list">Categories</a>
          <div class="container_category" id="container_category">
            <div class="category_drop" id="category_drop">
              <li class="liContainer" *ngFor="let category of categories">
                <i class="fa-solid fa-chevron-right"></i
                ><a
                  href="/BookByCategory/{{ category._id }}"
                  (click)="redirectDetails(category._id)"
                  >{{ category.name }}</a
                >
              </li>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/all-authors">Authors</a>
        </li>
        <li
          class="nav-item"
          [ngClass]="{ 'visually-hidden': respons?.role != true }"
        >
          <a class="nav-link" routerLink="admin">Admin Panel</a>
        </li>
      </ul>


      <div class=" select_container d-flex mx-3 cont" (hover)="showResults=true" (blur)="showResults=false;blur()">
        <select #select class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option value="books" selected>books</option>
          <option value="authors">authors</option>
        </select>
        <input #input id="search-input" type="text" placeholder="search ...." class="form-control search" aria-label="Text input with segmented dropdown button" (focus)="showResults = true" (keyup)="search(input.value,select.value)">
        <div class="res" *ngIf="showResults">
          <table class="table">
              <tr *ngFor="let res of searched">
                <td><img src="http://localhost:8080/{{res?.avatar.replace('assets\\', '')}}" ></td>
                <td *ngIf="select.value == 'books'"><a href="/book-details/{{res._id}}">{{res.title}}</a></td>
                <td *ngIf="select.value == 'authors'"><a href="">{{res.first_name}} {{res.last_name}}</a></td>
              </tr>
          </table></div>
      </div>

      <ul
        class="navbar-nav"
        [ngClass]="{ 'visually-hidden': isLoggedIn != null }"
      >
        <li class="nav-item">
          <a class="nav-link" routerLink="signin">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signup">Sign Up</a>
        </li>
      </ul>

      <ul
        class="navbar-nav"
        [ngClass]="{ 'visually-hidden': isLoggedIn == null }"
      >
        <li class="nav-item mx-3">
          <a class="nav-link log img_user" href="profile">
            <img class="mb-2"
              src="http://localhost:8080/{{
                respons?.avatar.replace('assets\\', '')
              }}"
            />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link log" href="" (click)="logOut()"
            ><i class="fa-solid fa-right-from-bracket s mt-3"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
