<nav class="navbar navbar-expand-lg bg-light shadow ">
  <div class="container">
    <a class="navbar-brand" href="#"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="headerpage">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">Authors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">Term & Condtions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="admin">Admin Panel</a>
        </li>
      </ul>
      <ul
        class="navbar-nav"
        [ngClass]="{ 'visually-hidden': isLoggedIn != null }"
      >
        <li class="nav-item">
          <a class="nav-link" routerLink="signin">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signup">Sign Up</a>
        </li>
      </ul>

      <ul
        class="navbar-nav"
        [ngClass]="{ 'visually-hidden': isLoggedIn == null }"
      >
        <li class="nav-item mx-3">
          <a class="nav-link log" href="profile">
            <img
              src="http://localhost:8080/{{
                respons.avatar.replace('assets\\', '')
              }}"
            />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link log" href="" (click)="logOut()"
            ><i class="fa-solid fa-right-from-bracket s"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
