<form #loginForm="ngForm" (ngSubmit)="submitLoginForm(loginForm)">
  <h3>Login Here</h3>
  <div class="mb-3">
    <label for="title" class="form-label">Email Address</label>
    <input
      type="text"
      class=""
      id="title"
      aria-describedby="titleHelp"
      name="movieName"
      #loginEmail="ngModel"
      ngModel
      required
      pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
    />
    <div
      id="titleHelp"
      class="form-text text-danger"
      *ngIf="loginEmail.touched && loginEmail.invalid"
    >
      <span *ngIf="loginEmail?.errors?.['required']">
        This field is required
      </span>
      <span *ngIf="loginEmail?.errors?.['pattern']">
        please enter email as "test@gmail.com"
      </span>
    </div>
  </div>
  <div class="mb-3">
    <label for="Password" class="form-label">Password</label>
    <input
      type="password"
      class=""
      id="overview"
      aria-describedby="overviewHelp"
      rows="5"
      name="Password"
      ngModel
      #Password="ngModel"
      required
      minlength="10"
    />
    <div
      class="form-text text-danger"
      *ngIf="Password.touched && Password.invalid"
    >
      <span *ngIf="Password.errors?.['required']">This field is required</span>
      <span *ngIf="Password.errors?.['minlength']">min length is 10</span>
    </div>
    <p>Don’t have account ? <a routerLink="/Register">Register</a></p>
  </div>
  <button type="submit" class="" [disabled]="loginForm.invalid">log in</button>
</form>
