<div class="container author_container">
  <div class="row">
    <div class="col d-flex">
      <div class="img-header w-25">
        <img
          class="w-100"
          src="http://localhost:8080/{{
            targetAuthor[0].avatar.replace('assets\\', '')
          }}"
          alt=""
        />
      </div>
      <div class="contant w-50">
        <h1>
          {{ targetAuthor[0].first_name + " " + targetAuthor[0].last_name }}
        </h1>
        <h3>{{ targetAuthor[0].dateOfBirth | date : "d-M-y" }}</h3>
        <p class="text-secondary">
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat is aute irure.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="review m-auto p-5">
  <div class="row p-5">
    <div class="colm d-flex">
      <div class="img-header p-2" *ngFor="let author of authors">
        <img
          src="http://localhost:8080/{{
            author.avatar.replace('assets\\', '')
          }}"
          alt=""
        />
        <h5 class="p-2">
          <a
            href="author-details/{{ author._id }}"
            (click)="redirectDetails(author._id)"
            >{{ author.first_name + " " + author.last_name }}</a
          >
        </h5>
      </div>
    </div>
  </div>
</div>
