<!-- <section class="home">
    <div class="row">
      <div class="colm d-flex">
        <div class="content  py-5 m-3">
            <h3>upto 55% offers</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti sapiente eos quisquam voluptatibus, cum quod.</p>
        
        </div>
  
        <div class="swiper books-list">
            <div class="swiper-wrapper ">
                <a href="" class="swiper-slide"><img src="../../assets/images/" alt=""></a>
              
            </div>
            <img class="stand" src="../../assets/image/stand.png" alt="">
        </div>
        </div>
    </div>
  </section> -->
   
   
      <div class="body-content">
        <div class="b-title">
          <h1>Power Books <br />to <span> Exceed</span><br />Your Mental <br> Limits</h1>
          <button>Explore</button>
          <div class="icons">
            <img src="../../assets/images/facebook.png" />
            <img src="../../assets/images/youtube.webp" />
            <img src="../../assets/images/instagram.avif" />
          </div>
        </div>

        <div class="b-img">
          <img src="../../assets/images/svg1.png" />
        </div>
      </div>
    

      <app-book-list></app-book-list>
    <app-author-list></app-author-list>
    <app-footer></app-footer>