@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
section{
    padding: 3rem 9%;
}



.home{
    background: url("../../assets/images/banner-bg.jpg");
    background-position: center;
    background-size: cover;
}

.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content{
    flex: 1 1 42rem;
}

.home .row .content h3{
    color: var(--black);
    font-size:4.5rem;
}

.home .row .content p{
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
}

.home .row .books-list{
    flex: 1 1 42rem;
    margin-top: 2rem;
    text-align: center;
}

.home .row .books-list a img{
    height: 25rem;
}

.home .row .books-list a:hover img{
    transform: scale(0.9);
}

.home .row .books-list .stand{
    width: 100%;
    margin-top: -2rem;
}

