.articles {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.articles .containers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;

}
  .my-pagination::ng-deep .ngx-pagination .current {
    background: rgb(109, 93, 252);

    border-radius: 50%;
   };
