@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    background-color: #F0F0F2;
    overflow: hidden;
    /* height: 100vh; */
    margin-top: 100px !important;
}

.row {
    justify-content: space-between;
}

header .contant {
    width: 65%;
    display: flex;
    justify-content: center;
    margin-left: 40px;
    flex-direction: column;
    animation-name: contentaction;
    animation-duration: .8s;
    color: #212025;
    margin-top: 0;
}

/* ==============animation of contant code============== */

@keyframes contentaction {
    0% {
        transform: translateX(-110%);
        -webkit-transform: translateX(-110%);
        -moz-transform: translateX(-110%);
        -ms-transform: translateX(-110%);
        -o-transform: translateX(-110%);
    }
    100% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
}

header .contant h1 {
    color: #0b1c39;
    font-size: 55px;
    font-weight: 700;
    line-height: .9;
    margin-bottom: 26px;
}

header .contant p {
    font-size: 25px;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 39px;
    color: #212025;
    margin-top: 30px;
    padding-right: 50px;

}
.contant a{
    font-size: 30px;
    text-decoration: none;
    color: rgb(109, 93, 252);

}
.contant a:hover{
  text-decoration:underline;
}
/* ==============animation of image code============== */

header .img-header {
    width: 30%;
}

header .img-header img {
    width: 300px;
    /* height: 300px; */
    animation-name: imgaction;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes imgaction {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    100% {
        transform: scale(1.08);
        -webkit-transform: scale(1.08);
        -moz-transform: scale(1.08);
        -ms-transform: scale(1.08);
        -o-transform: scale(1.08);
    }
}
.checked {
    color: orange;
}

.contant{
     margin-top: 30px;
    /* margin-left: 40px; */
}
.contant p{
    font-size: 35px;
    margin-top: 50px;
}
.review{
    border: 1px solid #333;
}
.review .img-header{
    width: 200px;
    height: 200px;
    ;
}
.review .img-header img{
    width: 100px;
    height: 100px;
    padding: 10px;
    margin-right: 10px;
}

.img-header{
width: auto !important;
height: auto !important;
}

.form-select{
  background-color:rgb(109, 93, 252);
}
.cat{
  font-size: 15px !important;
  display: inline !important;
}
ngb-rating{
  font-size: 25px;
  color: darkorange;
}
.labl{
  color:  #6c757d !important;
}
.review p{
font-size: 18px !important;
margin-left: 4px;
margin-top: 8px !important;
}
.review h5{
  margin-left: 4px;
  margin-top: 0px !important;
  }
  .review .contant{
    margin-top: 0px !important;
    padding-top: 0px !important;
  }
/* .rev{
margin-top: ;
} */
.review h2{
  color: #6d5dfc !important;

}
#area{
  width:100%;
  /* margin: auto !important; */
  box-sizing: border-box;
}
.btn{
  background-color: #6d5dfc;
}
.rate{
  font-size: 18px;
}
.float-start{
  color: #6d5dfc;
  font-size: 20px;
  font-weight: bold;
}
