<header>
  <div class="container mt-4">
    <div class="row p-5">
      <div class="img-header text-center">
        <img src="../../assets/images/blog-1.jpg" alt="">
        <select class="form-select form-select-lg mb-3 mt-4 p-2 text-light" aria-label=".form-select-lg example">
          <option value="readed">readed</option>
          <option value="Want to read" selected>Want to read</option>
          <option value="reading">reading</option>
        </select>
        <!-- <div class="dropdown  drop">
          <a class="btn btn-secondary dropdown-toggle p-4 w-100 " href="#" role="button" id="dropdownMenuLink"
            data-bs-toggle="dropdown" aria-expanded="false">
            Want to read
          </a>
          <ul class="dropdown-menu w-100 " aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">readed</a></li>
            <li><a class="dropdown-item" href="#">reading</a></li>
            <li><a class="dropdown-item" href="#">Want to read</a></li>
          </ul>
        </div> -->

      </div>
      <div class="contant">
        <h1>Book Name</h1>
        <a href="#"> Book Author</a>
        <ngb-rating [(rate)]="currentRate"></ngb-rating>

        <p class="text-secondary p-1">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
          ex ea
          commodo consequat is aute irure.</p>
        <div> <label class="labl mx-2" for="">Genres </label><a class="cat" href="#">Category name</a></div>


      </div>

    </div>

    <div class="review  m-5">
      <h2 class="pt-4 ps-4 pb-4 text-danger">Reviews</h2>
      <div class="row ps-3">
        <div class="colm d-flex">
          <div class="img-header  ">
            <img src="../../assets/images/blog-1.jpg" alt="">
          </div>
          <div class="rev mt-2">
            <h5>Author Name</h5>
            <ngb-rating [(rate)]="currentRate"></ngb-rating>

            <p class="text-secondary ">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea
              commodo consequat is aute irure.</p>
          </div>
        </div>
      </div>
      <hr class="w-75 m-auto">

    </div>

  </div>
<div class="container text-center">
 <textarea name="" id="area" cols="60" rows="5"></textarea>

</div><button class="btn btn-success">Review</button>
</header>
