<header class="container m-auto">
  <div class="">
    <div class="row p-5">
      <div class="img-header text-center">
        <img src="http://localhost:8080/{{book?.avatar.replace('assets\\', '')}}" alt="">
        <select #mySelect class="form-select form-select-lg mb-3 mt-4 p-2 text-light" aria-label=".form-select-lg example" (change)="onSelected(book._id,mySelect.value)">
          <option value="readed">readed</option>
          <option value="Want to read" selected>Want to read</option>
          <option value="reading">reading</option>
        </select>
        <ngb-rating [(rate)]="-currentRate" [readonly]=false></ngb-rating>
      </div>
      <div class="contant">
        <h1>{{book.title}}</h1>
        <a href="#">{{book.authorId.first_name}} {{book.authorId.last_name}}</a>
        <ngb-rating [(rate)]="currentRate"></ngb-rating>

        <p class="text-secondary p-1">{{book.description}}</p>
        <div> <label class="labl mx-2" for="">Genres </label><a class="cat" href="#">{{book.categoryId.name}}</a></div>
        <div class="review mt-5">
          <h2 class="pt-4 ps-4 pb-4 text-danger">Reviews</h2>
          <div class="row ps-3" *ngFor="let review of reviews">
            <div class="colm d-flex">
              <div class="img-header  ">
                <img src="http://localhost:8080/{{review.userId?.avatar.replace('assets\\', '')}}" alt="">
              </div>
              <div class="rev mt-2">
                <h5>{{review.userId.firstName}} {{review.userId.lastName}}</h5>
                <ngb-rating class="rate" [rate]=book.rate></ngb-rating>

                <p class="text-secondary ">{{review.review}}</p>
              </div>
            </div>
          </div>
          <hr class="w-75 m-auto">

        </div>
        <div class="container text-center">
          <textarea #review class="mt-5" name="" id="area" cols="60" rows="5"></textarea>
          <button class="btn btn-success d-block m-auto pb-2 pt-2 ps-4 px-4 vir mb-5" (click)="addRev(review.value)">Review</button>
        </div>
      </div>


    </div>

  </div>




</header>
