<header>
  <div class="container">
    <div class="row p-lg-5">
      <div class="img-header ">
        <img src="../../assets/images/blog-1.jpg" alt="">
        <div class="dropdown  drop">
          <a class="btn btn-secondary dropdown-toggle p-4 w-100 " href="#" role="button" id="dropdownMenuLink"
            data-bs-toggle="dropdown" aria-expanded="false">
            Want to read
          </a>

          <ul class="dropdown-menu w-100 " aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">All</a></li>
            <li><a class="dropdown-item" href="#">AcurretRead</a></li>
            <li><a class="dropdown-item" href="#">Want to read</a></li>
          </ul>
        </div>

      </div>
      <div class="contant">
        <h1>Book Name</h1>
        <a href="#"> Book Author</a>
        <a href="#">Category name</a>

        <p class="text-secondary p-1">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
          ex ea
          commodo consequat is aute irure.</p>
      </div>

    </div>

    <div class="review w-75 m-auto">
      <h1 class="p-4 text-danger">Reviews</h1>
      <div class="row p-5">
        <div class="colm d-flex">
          <div class="img-header  ">
            <img src="../../assets/images/blog-1.jpg" alt="">
          </div>
          <div class="contant">
            <h1>Author Name</h1>
            <h3>Rate</h3>

            <p class="text-secondary ">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea
              commodo consequat is aute irure.</p>
          </div>
        </div>
      </div>
      <hr class="w-75 m-auto">
      <div class="row p-5 ">
        <div class="colm d-flex">
          <div class="img-header  ">
            <img src="../../assets/images/pic-1.png" alt="">
          </div>
          <div class="contant">
            <h1>Author Name</h1>
            <h3>Rate</h3>

            <p class="text-secondary ">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea
              commodo consequat is aute irure.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>